<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(type='tag')"><title></title>
</head>
<body>

<!--header-start-->
<header>

    <div class="fas fa-bars" id="menu"></div>

    <a class="logo" href="#"><i class="fas fa-user-graduate"></i>LOGO-NAME</a>

    <nav class="navbar">
        <ul>
            <li><a class="active" href="#home">home</a></li>
            <li><a th:href="@{/user/index}">List of Users</a></li>
            <li><a th:href="@{/user/register}">Register</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </nav>
    <div class="fas fa-user-circle" id="login"></div>
</header>
<!--header-end-->

<!--Login-start-->
<div class="login-form">
    <form method="post" th:action="@{/login}">
        <h3>đăng nhập</h3>
        <input class="box" placeholder="email" type="text" th:name="username">
        <input class="box" placeholder="mật khẩu" type="password" th:name="password">
        <p>Quên mật khẩu? <a href="#">Nhấn vào đây</a></p>
        <input class="btn" type="submit" value="đăng nhập">
        <i class="fas fa-times"></i>
    </form>
</div>
<!--Login-end-->

<!--jquery library-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--js-->
<script th:src="@{../script.js}"></script>
</body>
</html>